*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #eaeaea;
}
@media screen and (max-width: 992px) {


h2{
    font-weight: bolder;
    margin: 10px;
    box-sizing: border-box;
    font-size: 20px;
}
h3{
    font-weight: bold;
}
header{
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
header ul{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
header ul li{
    width: 100%;
}

header ul li:first-of-type a i{
    width: 25px;
    color: #000;
    font-size: 20px;
}

li{
    list-style: none;
}
header a img{
    width: 180px;
    margin: auto;
}

#localisation{
    padding: 10px;
    text-align: center;
}
#localisation i{
    width: 15px;
    color: black;
    margin-right: 10px;
}

#explorer{
    height: 230px;
    padding: 20px;
    background-color: #f6f6f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#fonctionnement{
    height: 280px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#fonctionnement ol{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    counter-reset: counter-ol;
}
#fonctionnement ol li{
    margin: 10px auto;
    width: 350px;
    counter-increment: counter-ol;
    position: relative;
}
#fonctionnement ol li:before{
    position: absolute;
    top:25%;
    left: 2%;
    content: counter(counter-ol);
    background: #9d35d2;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    padding: 4px;
}
.cta-fonctionnement:active{
    background-color: rgba(158, 53, 210, 0.15);

}
.cta-fonctionnement{
    margin: auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    width: 310px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background: #fff;
    color: #000;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}
.cta-fonctionnement i{
    font-size: 18px;
    margin: 10px 20px;
    color: #5f5f5f;
}
#restaurants{
    padding: 20px;
}

.card{
    text-decoration: none;
    color: black;
    margin: 20px;
    position: relative;
}
figure{
    position: relative;
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}
.badge{
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    right: 15px;
    top: 15px;
    background-color: rgb(156, 228, 198);
    color: #27946a;
    font-weight: bold;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}
.card figure img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0px;
}
figcaption {
    position: relative;
    padding: 15px;
    text-decoration: none;
}
figcaption h3{
    text-transform: capitalize;
}
figcaption i{
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 25px;
}
footer{
    height: 200px;
    background-color: #353535;
}

/* menu template */

#bg-menu1 img{
    width: 100%;
    z-index: 0;
    position: absolute;
}
.top-rounded{
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    background-color: hsl(0, 0%, 96%);
    position: relative;
    margin-top: 200px;

}
.head-restaurant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-restaurant h2{
    margin-left: 0;
    flex-grow: 7;
    font-family: 'Shrikhand', cursive;
    text-transform: capitalize;
}
.head-restaurant i{
    margin: auto;
    font-size: 22px;
    flex-grow: 3;
}
.cartes{
    margin: 35px auto;
}
.cartes article span:first-of-type{
    width: 250px;
    text-overflow: ellipsis;
    font-size: 15px;
}
.cartes h3{
    position: relative;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    margin: 5px 0;
}
h4{
    font-size: 17px;
}
.cartes ul li{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    margin: 15px 0;
}
hr{
    width: 40px;
    border: 1px solid #96edc0;
}

.cartes ul li article{
    flex-grow: 7;
    padding: 10px;
    position: relative;
}
.article-price{
    position: absolute;
    right: 10px;
    text-align: right;
    font-weight: bold;
}
.article-check{
    position: relative;
    flex-grow: 3;
    background-color: #96edc0;
    border-radius: 0px 10px 10px 0px;
    min-width: 50px;
}
.article-check i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-cta{
    margin: 50px auto;
    text-align: center;
}
.cta-rounded{
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 35px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, rgba(250,114,247,1) 0%, rgba(184,55,255,1) 100%);
    color: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}

/* footer */

footer{
    height: 200px;
    background-color: #353535;
    padding: 15px;
}
#logo-footer p{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 18px;
}
footer ul li {
    margin: 10px auto;
}
footer ul li a{
    font-size: 14px;
    color: #fff;
}
footer ul li a i{
    font-size: 15px;
    margin: auto 5px;
}





}